.footer-wrapper {
    width: 100%;
    padding: 3rem 0;
    background-color: #333;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-content {
    width: 100%;
    margin-top: 3rem;
    display: flex;
}


.footer-content > div {
    width: 48%;
}

.footer-content h1 {
    font-size: 2.3rem;
    text-decoration: underline;
}

.footer-content p {
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.footer-content p .footer-icon {
    margin: 0 1rem;
}

.footer-content a:hover {
    text-decoration: underline;
}

.social-icons-list {
    margin-top: 1.5rem;
    display: flex;
}
.footer-icon {
    margin-left: 1rem;
    cursor: pointer;
    font-size: 3rem;
}

.footer-icon:hover {
    color: rgb(182, 192, 243);
}

@media (max-width: 800px) {
    .footer-content h1 {
        font-size: 2.2rem;
    }
    .footer-content p {
        font-size: 1.6rem;
    }
}

@media (max-width: 480px) {
    .footer-wrapper {
        padding: 0rem;
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding-bottom: 1rem;
    }
    .footer-content > div {
        width: 90%;
    }
}