.section-slider-wrapper {
    width: 100%;
    overflow: hidden;
    padding: 3rem 0;
    position: relative;
}


.section-slider {
    width: fit-content;
    height: 100%;
    display: flex;
    transition: 1s;
}

.section-slider-page {
    width: 100vw;
    max-width: 100rem;
    display: flex;
    justify-content: space-around;
}

.section-slider-item {
    width: 22rem;
    height: 30rem;
    background-size: cover;
    background-position: bottom;
}

.section-slider-item-overlay {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s;
    cursor: pointer;
}

.section-slider-item-overlay h1 {
    font-size: 2rem;
    text-align: center;
}

.show {
    opacity: .7;
}


.slider-browser {
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 1.5rem;
  border-radius: 50%;
  transition: .4s;
}

.slider-browser:hover {
  background-color: rgba(0, 0, 0, .8);
}

.browse-left {
  left: 0;
}

.browse-right {
  right: 0;
}

.kenburns-top {
	-webkit-animation: kenburns-top 1s ease-out  alternate both;
	        animation: kenburns-top 1s ease-out  alternate both;
}

 @-webkit-keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.15) translateY(-15px);
              transform: scale(1.15) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  @keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.15) translateY(-15px);
              transform: scale(1.15) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }