.search-section {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    align-items: center;
}

.search-section form {
    flex-grow: 2;
    display: flex;
}

.filter-contain {
   padding: 0 5rem;
}

.drawer-header {
    font-size: 2.5rem;
    font-weight: 100;
}


/* movies list */

.movies-list-wrapper {
    width: 100%;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    row-gap: 2.5rem;
    column-gap: 1.5rem;
}


.movie-list-item {
    cursor: pointer;
    transition: .3s;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,.2);
    max-width: 40rem;
}
.movie-list-item:hover {
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,1);
    transition: .3s;
    transform: translateY(-6px);
}

.movie-list-item div {
    padding: 0 0 1rem 1rem;
}

.movie-list-item h1 {
    font-size: 2rem;
    margin-top: 1rem;
}

.movie-list-item p {
    font-size: 1.5rem;
}

.pages-wrapper {
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages-wrapper h1 {
    font-size: 2rem;
    padding: 1rem;
}

.genre-input {
    width: 100%;
    color: lightgray;
}

.genre-input:hover {
    color: white;
    text-decoration: underline;
}

.genre-input p {
    font-size: 1.6rem;
}

.single-genre-wrapper {
    display: flex;
    align-items: center;
}

.single-genre-wrapper label {
    font-size: 1.7rem;
    font-weight: 100;
    margin-left: 1rem;
    width: 100%;
    cursor: pointer;
    color: lightgray;
}

.single-genre-wrapper label:hover {
    color: white;
    text-decoration: underline;
}

.option {
    font-size: 1.6rem;
}

@media (max-width: 800px) {
    .filter-contain {
        padding: 0 2.5rem;
     }

}


@media (max-width: 480px) {
    .movies-list-wrapper {
        grid-template-columns: 1fr 1fr;
        gap: .5rem;
        margin-top: 2rem;
    }

    .search-section {
        flex-direction: column;
        gap: 1.5rem;
    }
    .search-section form {
        flex-grow: 1;
        width: 100%;
    }
    .filter-contain {
        padding: 0;
        align-self: flex-end;
     }

     .pages-wrapper {
        margin-top: 2.5rem;
     }

     .pages-wrapper h1 {
        font-size: 1.7rem;
        padding: .5rem;
     }
}